*{
    background-color: rgb(70, 114, 170);
}
.btn{
    margin: 50px 5% 50px 5%;
    font-size: 25px;
}
#buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 50px;
    padding-left:30px;
}
#results{
    display: flex;
    justify-content: center;
    align-items: center;
}
#score{
   
    height: 500px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 35% 0px 35.5%;
    border: 2px solid rgb(75, 74, 74);
    padding: 50px;
    padding-left: 110px;
    background-color: rgb(83, 127, 184);
}
.divs{
    font-size: larger;
    font-weight: 600;
}